<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>#GAMECHANGER</title>
      <meta name="description" content="tiptopsgamechanger" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--Bootstrap 4-->
      <link rel="stylesheet" type='text/css' href="css/bootstrap.css" />
      <!--icons-->
      <link rel="stylesheet" type='text/css' href="css/ionicons.css" />
      <!--custom css-->
      <link rel="stylesheet" href="css/components.css" />
      <link rel="stylesheet" href="css/colors.css" />
      <!-- JS -->
      <script src="js/jquery-3.1.1.min.js"></script>
     <script src="js/custom.js"></script>

  </head>

  <div class="wrapper">
    <!--header section-->
    <section class="hero-header" id="home" style="background-image: url(../images/background-2.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="brand">
              <h1 class="heading-light">Are You Ready To Be A #Gamechanger?</h1>
              <p class="lead mb-5">
              Become a part of the most advanced statistical betting model right now.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--features-->
    <section class="bg-alt" id="features">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="title text-center">
              <h2 class="heading-semi-bold">About Gamechanger</h2>
                <p class="lead text-muted">
                  The Gamechanger is exactly what the name suggests, it is changing the betting game.
                  We have painstakingly created the most comprehensive football statistics cards available anywhere.
                </p>
            </div>
          </div>
        </div>

        <div class="row text-center mt-4">
          <div class="col-sm-4">
            <div class="card border-none">
              <div class="card-block">
                <div class="mb-3">
                  <em class="ion-ios-football icon-lg"></em>
                </div>
                <h4>Comprehensive</h4>
                <p class="text-muted">
                  Football statistic cards available on the go, catering for almost all betting markets.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card border-none">
              <div class="card-block">
                <div class="mb-3">
                  <em class="ion-person-add icon-lg"></em>
                </div>
                <h4>Community</h4>
                <p class="text-muted">
                  Become a part of the fastest growing betting community out there.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card border-none">
              <div class="card-block">
                <div class="mb-3">
                  <em class="ion-ios-heart-outline icon-lg"></em>
                </div>
                <h4>Support</h4>
                <p class="text-muted">
                  With so many experienced bettors first class support is never far away.
                </p>
             </div>
           </div>
         </div>
        </div>
      </div>
    </section>

    <section class="bg-alt" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="title text-center">
              <h2 class="heading-semi-bold">Contact Us</h2>
                <p class="lead text-muted">
                  Want to join? Get in touch below and we will get back to you with details
                </p>
            </div>
          </div>
        </div>

        <div class="row text-center mt-4">
          <div class="col-md-8 offset-md-2">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Name" />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Email Adress" />
                </div>
              </div>
            </div>

            <div class="form-group mt-4">
              <input type="submit" class="btn btn-success btn-round" value="Send Message" />
            </div>
          </div>
        </div>
      </div>
    </section>

            <!--footer-->
            <section class="colored-section bg-inverse footer pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2 text-center">
                            <a class="social-media-link" href="https://twitter.com/tiptoptoptips" target="_blank"><em class="ion-social-twitter icon-lg"></em></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
